<div class="cart-badges-block">
    <div class="cart-badge">
        <a
          href="https://www.shopify.com/security/pci-compliant?utm_medium=shop&utm_source=secure"
          title="This online store is secured by Shopify"
          target="_blank"
          rel="nofollow"
        >
          <img src="{{ 'cart-badge-checkout-v2.svg' | asset_url }}" alt="Secure checkout">
        </a>
    </div>
    <div class="cart-badge">
        <a
          href="/pages/shipping-returns"
          title="30 day money back refund"
          target="_blank"
          rel="nofollow"
        >
          <img src="{{ 'cart-badge-refund-v2.svg' | asset_url }}" alt="30 day money back refund">
        </a>
    </div>
    <div class="cart-badge">
        <a
          href="/pages/shipping-returns"
          title="Feel good, Guaranteed"
          target="_blank"
          rel="nofollow"
        >
          <img src="{{ 'cart-badge-guarantee-v2.svg' | asset_url }}" alt="Feel good, Guaranteed">
        </a>
    </div>
    <div class="cart-badge">
        <img src="{{ 'cart-badge-usa-v2.svg' | asset_url }}" alt="Made in USA">
    </div>
</div>