<div class="heading-block pt-lg mb-lg">
   <h3 class="heading-text heading-md uppercase text-align-center">3 Simple Steps</h3>
</div>
<div id="three-steps-blocks">
   <div class="container large is-justify-center is-align-center pb-xl">
      <div class="container multi-column col-align-top is-justify-center is-align-center">
         <div class="col one-third medium-down--one-whole text-align-center">
            <div class="image-block">
               <img class="step-banner" src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/steps-block-cheers_v1.jpg" alt="" loading="lazy"> <img class="step-icon" src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/icon-step-drink.svg" alt="" loading="lazy">
            </div>
            <div class="text-block">
               <h4 class="heading-sm mb-xs">Cheers</h4>
               <p>Take anytime you have a drink (or more)</p>
            </div>
         </div>
         <div class="col one-third medium-down--one-whole text-align-center">
            <div class="image-block">
               <img class="step-banner" src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/steps-block-chew_v2.jpg" alt="" loading="lazy"> <img class="step-icon" src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/icon-step-tablets.svg" alt="" loading="lazy">
            </div>
            <div class="text-block">
               <h4 class="heading-sm mb-xs">Chew</h4>
               <p>Chew 2 tablets after every five or fewer drinks</p>
            </div>
         </div>
         <div class="col one-third medium-down--one-whole text-align-center">
            <div class="image-block">
               <img class="step-banner" src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/steps-block-sleep_v1.jpg" alt="" loading="lazy"> <img class="step-icon" src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/icon-step-sleep.svg" alt="" loading="lazy">
            </div>
            <div class="text-block">
               <h4 class="heading-sm mb-xs">Sleep</h4>
               <p>Wake up feeling better than you should</p>
            </div>
         </div>
      </div>
   </div>
</div>