<div id="intro" class="pt-lg pb-lg bg-lt-gray">
   <div class="container small is-justify-center is-align-center pt-lg pb-lg pl-lg pr-lg rc-md">
      <h2 class="heading-text heading-lg uppercase text-align-center mb-sm">Meet your drink’s new mate</h2>
      <p class="text-md text-align-center">Our founder, board-certified surgeon Dr. Linda J. Kaplan, MD, combined her medical expertise with global scientific research to support your body in three critical ways</p>
      <div id="three-steps">
         <div class="container narrow is-justify-space-between is-align-center pt-sm pb-xs ">
            <div class="col one-third text-align-center">
               <img src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/icon-rocket_v2.svg" alt="" />
               <p class="text-sm">Supports alcohol metabolism</p>
            </div>
            <div class="col one-third text-align-center">
               <img src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/icon-sun_v2.svg" alt="" />
               <p class="text-sm">Promotes liver health</p>
            </div>
            <div class="col one-third text-align-center">
               <img src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/icon-heart_v2.svg" alt="" />
               <p class="text-sm">Restores vital nutrients</p>
            </div>
         </div>
      </div>
   </div>
</div>