<div id="press">
   <div id="press-inner" class="container small is-justify-space-between is-align-center pt-lg pb-lg ">
      <div class="heading-block">
         <h3 class="heading-text heading-xs text-align-center mb-md">Featured In:</h3>
      </div>
      <div class="col text-align-center"><img class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/press-forbes.svg" alt="H-PROOF on Forbes" /></div>
      <div class="col text-align-center desktop-only"><img class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/press-the-atlantic.svg" alt="H-PROOF on The Atlantic" /></div>
      <div class="col text-align-center desktop-only"><img class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/press-the-hustle.svg" alt="H-PROOF on The Hustle" /></div>
      <div class="col text-align-center"><img class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/press-the-skimm.svg" alt="H-PROOF on The Skimm" /></div>
      <div class="col text-align-center"><img class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="//cdn.shopify.com/s/files/1/0021/3660/4731/files/press-medical-daily.svg" alt="H-PROOF on Medical Daily" /></div>
   </div>
</div>