<div id="reviews" class="pt-lg pb-xl">
	<div id="stamped-reviews-widget" data-widget-type="full-page" data-product-image="false" data-take="8" data-style-color-star="#ffcc00" data-style-color-verified="#1aebc1" data-style-color-text="#808080" data-style-color-link="#333333" data-min-rating="3" data-fill-empty="true"></div>
</div>