<div id="guarantee" class="bg-lt-green">
   <div class="container small is-justify-center is-align-center pt-xl pb-xl ">
      <div class="heading-block">
         <h3 class="heading-text heading-sm text-align-center mb-sm">Feel Good, Guaranteed</h3>
         <p class="heading-subtext text-lg text-align-center">Because every<i>body</i> is different we want you to try H-PROOF risk-free. If you don't <i class="fa fa-heart" style="color: #1ae6bc; margin: 0 3px;"></i> it, let us know within 30 days of your first 20 serving purchase and we'll refund you 100%</p>
      </div>
   </div>
</div>