{% if related_products == true %}
  {% assign hover_enabled = block.settings.show_related_products_title_on_hover %}
{% else %}
  {% assign hover_enabled = settings.thumbnail_hover_enabled %}
{% endif %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign secondaryImage = product.media[1] %}

{% assign collection_handles = product.collections | map: 'handle' %}
{% if product.featured_media.preview_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
  {% assign alt_text = product.title %}
{% else %}
  {% assign alt_text = product.featured_media.preview_image.alt %}
{% endif %}

{% if type == 'block' %}
  {% assign image_crop = block.settings.image_crop %}
{% else %}
  {% assign image_crop = section.settings.image_crop %}
{% endif %}



<div class="
  {%
    render 'column-width',
    value: products_per_row
  %}
  medium-down--one-half
  {% if mobile_products_per_row == '1' %}
    small-down--one-whole
  {% else %}
    small-down--one-half
  {% endif %}
  column
  {% if settings.enable_quickshop %}
    quick-shop--true
    quick-shop--closed
    product-{{ product.id }} js-product_section
  {% endif %}
  {% if settings.stickers_enabled %}
    {% unless product.tags contains 'hide-stickers' %}
      has-thumbnail-sticker
    {% endunless %}
  {% endif %}
  {% if product.media[1] != blank and settings.show_secondary_image == true %}
    has-secondary-image-swap
  {% endif %}
  thumbnail
  product__thumbnail
  product__grid-item
  thumbnail__hover-overlay--{{ hover_enabled }}
  has-padding-bottom rc-md"
  {% if section.settings.pagination_type != 'basic_pagination' %}
    data-load-more--grid-item
  {% endif %}>
  <div class="product-wrap">
    <div class="product-image__wrapper">
      <div class="image__container product__imageContainer">
        <a href="{{ product.url | within: collection }}">
          {%
            render 'image-element',
            image: product.featured_media.preview_image,
            alt: alt_text,
            object_fit: align_height,
            max_height: height
          %}
        </a>
      </div>
    </div>
    <div class="thumbnail__caption text-align-{{ settings.thumbnail_text_alignment }}">
      {%
        render 'product-thumbnail__product-info',
        product: product,
        collection_handles: collection_handles
      %}
    </div>
  </div>
</div>
