<div id="wholesale-account-header" class="cta-banner bg-lt-green">
	<div class="container large pt-lg pb-lg is-align-center is-justify-space-evenly">
		<span><h1 class="heading-md uppercase mt-none">Welcome To <br class="mobile-break">The H-PROOF Wholesale Program</h1></span>
		<span><a href="collections/wholesale" class="button button--primary ">Shop Wholesale</a></span>
	</div>
</div>