<div class="split-text-header bg-lt-green">
	<div class="container large pt-lg pb-lg is-align-center">
		<div class="column ten medium-down--one-whole">
			<h1 class="heading-xl uppercase mt-none">The H-PROOF Wholesale Program</h1>
		</div>
		<div class="column six medium-down--one-whole">
			<ul class="checks text-xxl uppercase bold text-green">
				<li>50%+ Margins</li>
				<li>&lt;$250 Minimum Order</li>
				<li>Built-in Point Of Sale</li>
			</ul>
		</div>
	</div>
</div>