{% comment %}Wholesale Customers{% endcomment %}
{% if customer and customer.tags contains 'wholesale' %}
  {% render 'header-centered__top-bar' %}
{% endif %}

{% schema %}

{
  "name": "Top bar (Wholesale)",
  "class": "top-bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show social icons",
      "default": true
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Add a phone number or other information.</p>"
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Top bar typography"
    },
    {
      "type": "font_picker",
      "id": "font",
      "label": "Font",
      "default": "open_sans_n4"
    },
    {
      "type": "select",
      "id": "font_style",
      "label": "Capitalization",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Base size",
      "min": 10,
      "max": 20,
      "default": 14,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "letter_spacing",
      "label": "Letter spacing",
      "min": 0,
      "max": 6,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Top bar colors"
    },
    {
      "type": "color",
      "id": "top_bar_background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "top_bar_link",
      "label": "Link",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "top_bar_link_hover",
      "label": "Link hover",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "top_bar_text",
      "label": "Text",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "display_search",
      "label": "Show search",
      "default": true
    },
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "select",
      "id": "icon_style",
      "label": "Style",
      "options": [
        {
          "value": "icons",
          "label": "Icons only"
        },
        {
          "value": "text",
          "label": "Text only"
        },
        {
          "value": "icons_text",
          "label": "Icons and text"
        }
      ],
      "default": "icons"
    },
    {
      "type": "color",
      "id": "cart_button_background",
      "label": "Cart button background",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "cart_button_text",
      "label": "Cart button text",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ]
}

{% endschema %}
