{% comment %}DTC Customers{% endcomment %}
{% unless customer and customer.tags contains 'wholesale' %}
  {% if section.settings.dtc %}
    {% render 'section-index__featured-promotions' %}
  {% endif %}
{% endunless %}    

{% comment %}Wholesale Customers{% endcomment %}
{% if customer and customer.tags contains 'wholesale' %}
  {% if section.settings.wholesale %}
    {% render 'section-index__featured-promotions' %}
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Featured promotions",
  "class": "featured-promotions jsFeaturedPromos",
  "max_blocks": 21,
  "settings": [
    {
      "type": "header",
      "content": "Display"
    },
    {
      "type": "checkbox",
      "id": "dtc",
      "label": "Direct To Consumer (DTC)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "wholesale",
      "label": "Wholesale",
      "default": true
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Border radius",
      "min": 0,
      "max": 25,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "crop_images",
      "label": "Crop images",
      "default": true
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "color",
      "id": "overlay_background",
      "label": "Background",
      "default": "#939393"
    },
    {
      "type": "range",
      "id": "overlay_background_opacity",
      "label": "Background opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 70,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "overlay_text",
      "label": "Text",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "Show border",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_gutter",
      "label": "Show gutter",
      "default": true
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Promotion",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "800 x 600px recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "color",
          "id": "overlay_background",
          "label": "Background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "range",
          "id": "overlay_background_opacity",
          "label": "Background opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "default": 70,
          "unit": "%"
        },
        {
          "type": "color",
          "id": "overlay_text",
          "label": "Text",
          "default": "#FFFFFF",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "text",
          "id": "icon_label",
          "label": "Icon",
          "placeholder": "Enter icon name",
          "info": "[Icon list](https://help.outofthesandbox.com/hc/en-us/articles/360021570294)",
          "default": "truck"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Special deal"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description details.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured promotions",
      "category": "Image",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "icon_label": "truck"
          }
        },
        {
          "type": "image",
          "settings": {
            "icon_label": "bag"
          }
        },
        {
          "type": "image",
          "settings": {
            "icon_label": "tag"
          }
        }
      ]
    }
  ]
}
{% endschema %}
